body {

    
    background-image:url('https://image.freepik.com/vetores-gratis/imagens-animadas-abstratas-neon-lines_23-2148344065.jpg');
    background-size:auto 100vh;  /* Altura por largura matem a porporção*/
    font-family: Arial;
    height: 100vh;
  }

  .menu{
  background-color: white; /*color de fundo*/

}
.menu li {
  list-style: none; /*estilo de lista sem*/

}
.menu ul {
 display: flex;  /**/
 justify-content: space-around;
}

a {
color:teal;
text-decoration: none;
 
}
a:hover {
  text-decoration: underline;
}
.site-subtitle,
.site-title {
  color:whitesmoke ; 
  text-align: center;
}
.site-subtitle {
  font-style:italic;
}